@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: burlywood;
}
.plant {
    border: solid blue;
    padding: 1.5em;
    margin: 0.5em;
    height: 8px;
    width: 65px;
    text-align: center;
}